@using Mojo.Shared.Features.Core

@if (!Page.Children.Any())
{
    <li class="nav-item">
        <NavLink class="nav-link link-body-emphasis" href="@Page.Url">
            <Icon Name="IconName.FileText" Class="me-2" /> @Page.Title
        </NavLink>
    </li>
}
else
{
    <li class="nav-item">
        <button class="nav-link link-body-emphasis d-flex justify-content-between align-items-center w-100" 
                @onclick="ToggleExpand">
            <span>
                <Icon Name="IconName.Folder" Class="me-2 text-warning" /> @Page.Title
            </span>
            <Icon Name="@(_isExpanded ? IconName.ChevronDown : IconName.ChevronRight)" Size="IconSize.x6" />
        </button>

        @if (_isExpanded)
        {
            <ul class="nav flex-column ms-3 border-start ps-2">
                @foreach (var child in Page.Children)
                {
                    <NavMenuItem Page="child" />
                }
            </ul>
        }
    </li>
}

@code {
    [Parameter] public required PageDto Page { get; set; }

    private bool _isExpanded = false;

    private void ToggleExpand()
    {
        _isExpanded = !_isExpanded;
    }
}