@using Mojo.Web.Client.Components.Layout
@inherits LayoutComponentBase

<div class="d-flex h-100 w-100" style="min-height: 100vh;">

    <div class="d-none d-md-block border-end bg-body-tertiary" style="width: 280px; min-width: 280px;">
        <NavMenu />
    </div>

    <main class="d-flex flex-column flex-grow-1 overflow-auto bg-body" style="height: 100vh;">
        
        <header class="p-3 mb-3 border-bottom d-flex justify-content-between align-items-center">
            <ThemeSwitcher Position="DropdownMenuPosition.End" 
                           @rendermode="InteractiveAuto" />
        </header>

        <div class="px-4 pb-5">
            @Body
        </div>
        
    </main>
</div>