.app-layout {
  display: flex;
  min-height: 100vh;
}

.main-content {
  flex: 1 1 auto;
  min-height: 100vh;
  padding: 16px;
  max-width: 100%;
  margin: 0 auto;
}

@media (min-width: 600px) {
  .main-content {
    padding: 24px;
  }
}

@media (min-width: 900px) {
  .main-content {
    max-width: 80%;
  }
}
