@page "/blog/post/{BlogPostId:guid}"
@using Mojo.Modules.Blog.UI.Features.GetPost

<PageTitle>Reading... - MojoReborn</PageTitle>

<div class="container container-md mt-5">
    <BlogPost PostId="@BlogPostId" />
</div>

@code {
    [Parameter] public Guid BlogPostId { get; set; }
}